body {
    font-family: 'Open Sans', sans-serif;

    text-align: center;
    margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 50px;
}

#hero img {
    margin-bottom: 50px;
}

h1 {
    font-family: 'David Libre', serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}

span, a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer {
    font-size: 13px;
    line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

#footer .line {
    width: 568px;
    height: 0px;

    margin: 0 auto 8px;

    border: 1px solid #ECEFF2
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0px;
}